@model IEnumerable<SmartKitchen.Models.Produtos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.NomeCateg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVAVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.NomeCateg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVAVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Prod_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Prod_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Prod_ID })
        </td>
    </tr>
}

</table>
